@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&family=Righteous&family=Sarala:wght@400;700&display=swap");
@keyframes typewriter {
  from {
    width: 0%; }
  to {
    width: 43%; } }

@keyframes blink {
  from {
    border-color: #000; }
  to {
    border-color: transparent; } }

.conteudo-principal {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px; }
  .conteudo-principal--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 45px;
    color: #000; }
  .conteudo-principal--2 {
    align-items: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #202020;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(27) infinite alternate, blink 800ms steps(27) infinite normal;
    border-right: 5px solid #000; }
  .conteudo-principal--3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #000; }

.conteudo {
  margin-bottom: 30px;
  border-top: 0.4px solid #000; }

.selection {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.introducao {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .introducao--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    color: #202020; }
  .introducao--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000; }

.surgimento {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .surgimento--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    color: #202020; }
  .surgimento--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    color: #000; }
  .surgimento--3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 31px;
    margin-bottom: 30px;
    color: #202020; }
  .surgimento--4 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #000; }

.sintomas {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .sintomas--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: #202020; }
  .sintomas--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    color: #000; }
  .sintomas--3 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000; }

.tratamento {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .tratamento--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: #202020; }
  .tratamento--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    color: #000; }
  .tratamento--3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: #202020; }
  .tratamento--4 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    color: #000; }

.imagem {
  width: 550px;
  margin-top: auto; }

.imagem3 {
  width: 250px;
  margin-top: auto; }

.imagem4 {
  width: 500px;
  margin-top: auto;
  padding-left: 50px; }

.rodapé {
  padding: 5px;
  border-top: 0.4px solid var(--color-headings); }

.rodapé-principal {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.designed {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 10px;
  color: #202020; }

.copyright {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 10px;
  color: #202020; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  background-color: gainsboro; }

.botao-link {
  display: inline-block;
  justify-content: space-around;
  line-height: 50px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 0;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #202020;
  box-shadow: 5px 5px 0px #000;
  transition: transform 100ms linear; }
  .botao-link--cor {
    color: #000; }
  .botao-link:hover {
    transform: scale(1.08); }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(105, 105, 105, 0.8), rgba(220, 220, 220, 0.8)), url(../img/pestenegra.jpeg);
  background-size: cover;
  background-position: top; }

.section {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px; }

.nav {
  display: flex;
  gap: 32px; }

.menu {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 15px;
  transition: transform 100ms linear;
  text-decoration: none;
  color: #202020;
  padding-bottom: 10px; }
  .menu:hover {
    transform: scale(1.08);
    border-bottom: 3px solid #696969;
    color: #696969; }
