//ENTRE
.conteudo-principal {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;

&--1 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 45px;
  color: $color-black;
}

&--2 {
  align-items:center;
  font-family: 'Sarala', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: $color-primary-dark;
  white-space: nowrap;
  overflow:hidden;
  animation: typewriter 5s steps(27) infinite alternate,
  blink 800ms steps(27) infinite normal;
  border-right: 5px solid $color-black
}

&--3 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 20px;
  color: $color-black;
}
}

//introducao
.conteudo {
  margin-bottom: 30px;
  border-top: 0.4px solid $color-black;
}

.selection {
  margin: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
}

.introducao {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    color: $color-primary-dark;
  }

  &--2 {
  font-family: 'Sarala', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $color-black;
  }
}

//surgimento
.surgimento{
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    color: $color-primary-dark;
  }

  &--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    color: $color-black;
  }

  &--3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 31px;
    margin-bottom: 30px;
    color: $color-primary-dark;
  }

  &--4 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: $color-black;
  }
}

//sintomas
.sintomas {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: $color-primary-dark;
  }

  &--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    color: $color-black;
  }

  &--3 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $color-black;
  }
}

//tratamento
.tratamento {
  display: flex;
  flex-direction: column;
  gap: 20px;
 
  &--1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: $color-primary-dark;
  }

  &--2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    color: $color-black;
  }

  &--3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    color: $color-primary-dark;
  }

  &--4 {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    color: $color-black;
  }
}

.imagem {
  width: 550px;
  margin-top: auto;
}

.imagem3 {
  width: 250px;
  margin-top: auto;
}

.imagem4 {
  width: 500px;
  margin-top: auto;
  padding-left: 50px;
}


.rodapé {
  padding: 5px;
  border-top: 0.4px solid var(--color-headings);
}

.rodapé-principal {
  margin: 30px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
}

.designed {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 10px;
  color: $color-primary-dark;
}

.copyright {
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 10px;
  color: $color-primary-dark;
}